customername and balance is {{customer.customername | uppercase}}  {{customer.balance | uppercase}}



<!-- customername and balance is {{user2.customername}}  {{user2.balance}} -->
<br>

<a href="link">join army</a>
<!-- customername and balance is {{user3.customername}}  {{user3.balance}} -->
<!-- <br> -->

<!-- customername and balance is {{user4.customername}}  {{user4.balance}} -->
<br>
<br>
<br>
Length of string present in customername={{customer.customername|length}}
<br>
Length of string present= {{"akashvani" | length}}
<br>
Reverse of customer name = {{customer.customername | reverse}}

<!-- Length of string present in customername={{customer.customername|length}} -->